


         .btn-container{
            display: flex;
            justify-content: center;
            
            
        }
          .main-btn {
            margin-top: 120px;
            background-color: #2d6a4f;
            color: white;
            border: none;
            padding: 1rem 2rem;
            font-size: 1rem;
            font-weight: bold;
            text-transform: uppercase;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            
            
          }
       
       
        p{
          margin-top: 10px;
        }

        

/*CHECKBOX*/    

        .checkbox-container {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 12px;   
        }

        .checkbox-container input {
            width: 20px;
            height: 20px;
            cursor: pointer;
            border: 2px solid #d1d1d1;
            border-radius: 4px;
            margin-top: 20px;
        }

        .checkbox-container label {
            font-size: 16px;
            color: #000000;
            cursor: pointer;
            user-select: none;
        }

        .checkbox-container label a {
            color: #000000;
            text-decoration: underline;
        }

        .toggle-password { right: 480px; }

        @media (max-width: 480px) {

        .submit-btn {
          width: 100%;
           margin-left: 0rem;
          }
      .container{
        margin-top: 40px;
      }


    }
        

   
        
       



