.contact-form h1 {
    text-align: center;
    font-family: var(--font-lucida);
    margin-bottom: 1.5rem;
}
       
        p{
          margin-top: 10px;
        }

        

/*CHECKBOX*/    

        .checkbox-container {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 12px;   
        }

        .checkbox-container input {
            width: 20px;
            height: 20px;
            cursor: pointer;
            border: 2px solid #d1d1d1;
            border-radius: 4px;
            margin-top: 20px;
        }

        .checkbox-container label {
            font-size: 16px;
            color: #000000;
            cursor: pointer;
            user-select: none;
        }

        .checkbox-container label a {
            color: #000000;
            text-decoration: underline;
        }


        
        .links-container{
          text-align: center;
          margin-top: 20px;
        }
        
        .toggle-password { right: 480px; }

         @media (max-width: 480px) {
          
          h1{
            font-size: 16px;
            text-align: center;
          }

          h2{
            font-size: 16px;
            text-align: center;

          }
          }
  
